/*
 Theme Name:   Corpus Child
 Theme URI:    https://themeforest.net/user/euthemians
 Description:  Corpus Child Theme
 Version:      3.3.13
 Author:       Euthemians Team
 Author URI:   https://euthemians.com
 Template:     corpus
*/